body {
    background-image: url('/assets/nosotrosImg/fondo2.jpg');

    background-size: cover;
          
     background-position: center;
           
     background-repeat: no-repeat;
    background-attachment: fixed;
}